@media (min-width: 768px) and (max-width: 991px) {
  .navbar .nav-img {
    display: none;
  }
  .navbar a {
    padding: 15px 20px;
  }

  .container-1 {
    padding: 0 20px;
  }
  #target,
  #info {
    padding: 40px 30px 30px;
  }

  .container-2 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 20px;
  }

  #certificate .item-img {
    width: 130px;
  }
  #certificate .item {
    padding: 15px;
    gap: 15px;
  }

  .project-container {
    gap: 10px;
  }
  .project-name {
    padding: 10px;
    font-size: 20px;
  }
  .project-stats {
    padding: 8px 10px;
    gap: 6px;
    font-size: 18px;
  }
  .tag-year {
    padding: 2px 6px;
    font-size: 15px;
  }

  .info-row {
    grid-template-columns: 70px 1fr;
  }
  .info-label,
  .info-value {
    padding: 8px 6px;
    font-size: 15px;
  }

  #contact {
    text-align: center;
  }
  #contact .section-content ol li {
    margin: 0 15px;
  }
  #contact .section-content a {
    font-size: 16px;
  }
  #contact .section-content a i {
    font-size: 22px;
    margin-right: 8px;
  }
}
